{% extends 'ZyxwareQuizBundle:Quiz:base.html.twig' %}

{% block title %}
  Results
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
    <h1>
      Hi {{ user }}, Your score is {{ score }}.
    </h1>
      <a href="{{ url('zyxware_quiz_homepage') }}" class='pure-button pure-button-primary'>Goto Home page</a>
      <h2>The Top Ten Scorers are:</h2>
      <table class="pure-table pure-table-horizontal">
      <thead>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Score</th>
        </tr>
      </thead>
      {% for item in result %}
        <tr>
          <td>
            {{ item.firstName }} {{ item.lastName }}
          </td>
          <td>{{item.email}}</td>
          <td>{{item.score}}</td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
